body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../assets/blockchain.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    color: #fff;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #0a0101;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0f3460;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background: #0d2c54;
}